<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="conn" value="User ID=sa;Password=2021Maison!;Initial Catalog=hscApplications;Data Source=10.1.10.2\hscApplications;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HSC_MC_WS.ConfigService">
        <endpoint address="" binding="webHttpBinding" contract="HSC_MC_WS.IConfigService" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>        
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior >
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <!--
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  -->
  
</configuration>
